<p>After a while, {{name}} met a beautiful fox named {{foxWife}}. They fell deeply in love and lived in {{housing}}.
    They lived there happily ever after. The end! </p>

<a href="/middle"> Previous </a> 
<a href="/beginning"> Restart </a>