<p>After a while, {{item.name}} met a beautiful fox named {{item.foxWife}}. They fell deeply in love and lived in {{item.housing}}.
    They lived there happily ever after. The end! </p>

<a href="/middle"> Previous</a> //
<a href="/beginning"> Restart </a>
