<p>One day, {{name}} decided to visit {{place}}. So he hopped on a {{travelVehicle}} to get there. 
Once he got there, he decided to stay for at least {{yearsToStay}} years.</p>


<a href="/beginning"> Previous </a>
<a href="/end"> Next </a>