<p>One day, Rupert decided to visit {{item.place}}. So he hopped on a {{item.travelVehicle}} to get there. 
Once he got there, he decided to stay for at least {{item.yearsToStay}} years.</p>


<a href="/beginning"> Previous</a> //
<a href="/end"> Next </a>